.light-square {
    -fx-background-color: #eeeed4;
}

.dark-square {
    -fx-background-color: #7d945c;
}

.column-label, .row-label {
    -fx-font-size: 12px;
    -fx-text-fill: #245221;
    -fx-font-family: "Book Antiqua";
}

.highlighted-square {
    -fx-background-color: #f4c175;
}

.legal-move-square {
    -fx-background-color: #e2514c;
}

.goal-square {
    -fx-background-color: lightblue;
}

.image-view {
    -fx-fit-width: 40;
    -fx-fit-height: 40;
    -fx-preserve-ratio: true;
}

.vbox-padding {
    -fx-padding: 30px;
}

.grid-padding {
    -fx-padding: 30px;
}
